.WebsiteHeading{
    font-family: 'Montserrat', sans-serif;
}



.nlink{
    color: white;
    margin-right: 0.2vw;
    margin-left: 1.3vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.8vh;
    font-family: 'Montserrat', sans-serif;

    &:hover{
        color: #8458B3;
        cursor: pointer;
    }
}

.profilepic{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 18px white;
    background-color: #8458B3;
    float: right;
    position: absolute;
    right: 5vw;
    top: 10px;
    &:hover{
        cursor: pointer;
    }
}


